<div class="tabbed-writeup" data-tab-group data-tab-sync-hash>
  <p class="tabbed-writeup-intro">원하는 레벨 탭을 누르면 해당 Ethernaut write-up으로 바로 이동합니다. 탭을 바꾸면 주소 해시도 함께 바뀌므로 특정 레벨 링크를 바로 공유할 수 있습니다.</p>
  <div class="tabbed-writeup-nav" role="tablist" aria-label="Ethernaut writeup tabs">
    <button class="tabbed-writeup-tab is-active" type="button" role="tab" aria-selected="true" tabindex="0" data-tab-trigger="ethernaut-level-0">0</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-1">1</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-2">2</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-3">3</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-4">4</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-5">5</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-6">6</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-7">7</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-8">8</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-9">9</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-10">10</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-11">11</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-12">12</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-13">13</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-14">14</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-15">15</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-16">16</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-17">17</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-18">18</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-19">19</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-20">20</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-21">21</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-22">22</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-23">23</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-24">24</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-25">25</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-26">26</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-27">27</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-28">28</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-29">29</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-30">30</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-31">31</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-32">32</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-33">33</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-34">34</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-35">35</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-36">36</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-37">37</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-38">38</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-39">39</button>
    <button class="tabbed-writeup-tab" type="button" role="tab" aria-selected="false" tabindex="-1" data-tab-trigger="ethernaut-level-40">40</button>
  </div>

{% capture ethernaut_level_0 %}
{% include_relative ethernaut-levels/Level_0_Hello_ethernaut.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-0">
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_0 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_1 %}
{% include_relative ethernaut-levels/Level_1_Fallback.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-1" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_1 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_2 %}
{% include_relative ethernaut-levels/Level_2_Fallout.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-2" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_2 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_3 %}
{% include_relative ethernaut-levels/Level_3_CoinFlip.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-3" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_3 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_4 %}
{% include_relative ethernaut-levels/Level_4_Telephone.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-4" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_4 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_5 %}
{% include_relative ethernaut-levels/Level_5_Token.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-5" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_5 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_6 %}
{% include_relative ethernaut-levels/Level_6_Delegation.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-6" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_6 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_7 %}
{% include_relative ethernaut-levels/Level_7_Force.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-7" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_7 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_8 %}
{% include_relative ethernaut-levels/Level_8_Vault.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-8" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_8 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_9 %}
{% include_relative ethernaut-levels/Level_9_King.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-9" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_9 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_10 %}
{% include_relative ethernaut-levels/Level_10_Reentrancy.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-10" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_10 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_11 %}
{% include_relative ethernaut-levels/Level_11_Elevator.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-11" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_11 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_12 %}
{% include_relative ethernaut-levels/Level_12_Privacy.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-12" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_12 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_13 %}
{% include_relative ethernaut-levels/Level_13_GatekeeperOne.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-13" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_13 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_14 %}
{% include_relative ethernaut-levels/Level_14_GatekeeperTwo.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-14" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_14 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_15 %}
{% include_relative ethernaut-levels/Level_15_NaughtCoin.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-15" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_15 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_16 %}
{% include_relative ethernaut-levels/Level_16_Preservation.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-16" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_16 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_17 %}
{% include_relative ethernaut-levels/Level_17_Recovery.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-17" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_17 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_18 %}
{% include_relative ethernaut-levels/Level_18_MagicNumber.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-18" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_18 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_19 %}
{% include_relative ethernaut-levels/Level_19_AlienCodex.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-19" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_19 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_20 %}
{% include_relative ethernaut-levels/Level_20_Denial.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-20" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_20 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_21 %}
{% include_relative ethernaut-levels/Level_21_Shop.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-21" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_21 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_22 %}
{% include_relative ethernaut-levels/Level_22_Dex.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-22" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_22 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_23 %}
{% include_relative ethernaut-levels/Level_23_DexTwo.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-23" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_23 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_24 %}
{% include_relative ethernaut-levels/Level_24_PuzzleWallet.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-24" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_24 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_25 %}
{% include_relative ethernaut-levels/Level_25_Motorbike.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-25" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_25 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_26 %}
{% include_relative ethernaut-levels/Level_26_DoubleEntryPoint.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-26" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_26 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_27 %}
{% include_relative ethernaut-levels/Level_27_GoodSamaritan.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-27" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_27 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_28 %}
{% include_relative ethernaut-levels/Level_28_GatekeeperThree.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-28" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_28 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_29 %}
{% include_relative ethernaut-levels/Level_29_Switch.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-29" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_29 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_30 %}
{% include_relative ethernaut-levels/Level_30_HigherOrder.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-30" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_30 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_31 %}
{% include_relative ethernaut-levels/Level_31_Stake.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-31" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_31 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_32 %}
{% include_relative ethernaut-levels/Level_32_Impersonator.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-32" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_32 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_33 %}
{% include_relative ethernaut-levels/Level_33_MagicAnimalCarousel.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-33" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_33 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_34 %}
{% include_relative ethernaut-levels/Level_34_BetHouse.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-34" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_34 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_35 %}
{% include_relative ethernaut-levels/Level_35_EllipticToken.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-35" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_35 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_36 %}
{% include_relative ethernaut-levels/Level_36_Cashback.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-36" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_36 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_37 %}
{% include_relative ethernaut-levels/Level_37_ImpersonatorTwo.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-37" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_37 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_38 %}
{% include_relative ethernaut-levels/Level_38_UniqueNFT.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-38" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_38 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_39 %}
{% include_relative ethernaut-levels/Level_39_Forger.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-39" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_39 | markdownify }}
    </div>
  </section>

{% capture ethernaut_level_40 %}
{% include_relative ethernaut-levels/Level_40_NotOptimisticPortal.md %}
{% endcapture %}
  <section class="tabbed-writeup-panel" role="tabpanel" data-tab-panel="ethernaut-level-40" hidden>
    <div class="tabbed-writeup-panel-copy">
      {{ ethernaut_level_40 | markdownify }}
    </div>
  </section>

</div>
